@font-face {
    font-family: "Shoelaces";
    src: url("C:/Users/kuhar/OneDrive/Documents/kuharins.github.io/Gleb Guralnyk - Shoelaces.otf");
}

body {
    background-color: rgb(34, 32, 45);
}

/*Title*/
h1 {
    font-family: "Shoelaces";
    font-size: 150px;
    margin: auto;
    text-align: center;
    text-rendering: optimizeLegibility;
    color: white;
    letter-spacing: .05em;
    text-shadow:
        4px 4px 0px deepskyblue,
        7px 7px 0px rgba(0, 0, 0, 0.2);
}

h2 {
    font-family: 'IBM Plex Sans ', sans-serif;
    color: white;
    font-size: 40px;
    padding: 1% 0 2% 15%;
    margin: auto;
}

h3 {
    font-family: 'IBM Plex Sans ', sans-serif;
    font-weight: bold;
    padding: 3% 0 0 5%;
    color: skyblue;
    font-size: 30px;
}

h4 {
    font-family: 'IBM Plex Sans ', sans-serif;
    font-weight: normal;
    padding: 0 10% 0 10%;
    color: white;
    font-size: 22px;
}

/*Rows*/
.column {
    float: left;
    width: 30%;
    height: auto;
    display: inline-block;
    text-align: center;
    color: white;
    margin: 1.5%;
    /*border: 2px dashed white;*/
    border-radius: 10px;
    transition: all .25s ease;
}

.box .column {
    float: left;
    width: 40%;
    height: auto;
    display: inline-block;
}

.column:hover {
    transform: scale(1.05);
    z-index: 1;
}

div.hide {
    font-family: 'IBM Plex Sans ', sans-serif;
    color: white;
    display: none;
    position: absolute;
    left: 5%;
    top: 10%;
    width: 90%;
    text-align: center;
    font-size: 25px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/*Navigation*/
.container {
    width: 50%;
    margin: auto;
    text-align: center;
}

ul {
    padding: 0;
}

ul li {
    display: inline;
    text-align: center;
}

a {
    font-family: 'IBM Plex Sans ', sans-serif;
    font-size: 20px;
    display: inline-block;
    width: 32%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: white;
}

.two:hover ~ hr {
    margin-left: 37%;
}

.three:hover ~ hr {
    margin-left: 70%;
}

hr {
    height: .25rem;
    width: 25%;
    margin: 0px 0px 0px 4.5%;
    background: tomato;
    border: none;
    transition: .3s ease-in-out;
}

.box {
    float: left;
    width: 75%;
    height: auto;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 3% 12.5% 10% 12.5%;
    padding: 0 0 5% 0;
}

/*Contact form style*/
form {
    text-align: center;
    width: 75%;
    height: auto;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 3% 12.5% 10% 12.5%;
    padding: 0 0 1.5% 0;
}

input {
    width: 90%;
    padding: 15px;
    margin: 3% 3% 1.5% 3%;
    border: 2px solid deepskyblue;
    border-radius: 4px;
    background-color: rgb(34, 32, 45);
    font-family: 'IBM Plex Sans ', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: white;
}

.half input {
    width: 40%;
    display: inline-block;
}


/*Mobile*/
@media screen and (max-width: 600px) {

    h1 {
        font-family: "Shoelaces";
        font-size: 80px;
        margin: 0px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 20px;
    }

    .box {
        width: 90%;
        margin: 0 5% 0 5%;
    }

    form {
        text-align: center;
        width: 90%;
        margin: 0 5% 0 5%;
        padding: 5% 0 5% 0;
    }

    input {
        width: 75%;
    }

    .half input {
        width: 75%;
    }

    div.hide {
        font-size: 20px;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    a {
        width: 29%;
        font-size: 19px;
    }

    ul {
        padding: auto;
    }

    hr {
        width: 20%;
        margin: 0px 0px 0px 9%;
    }

    .two:hover ~ hr {
        margin-left: 40%;
    }

    .three:hover ~ hr {
        margin-left: 70%;
    }

    .column {
        width: 97%;
    }
}
